/*#region global*/
/*--------------------------------------------------------------------------------------------------------------------*/

@font-face {
    font-family: Montserrat;
    src: url("../res/Montserrat-Regular.ttf");
}

:root {
    --color_background_ui: rgba(40, 40, 75, 0.6);
    --color_background: #000014;
    --color_foreground: #EEEEEE;
    --color_foreground_inactive: #BBBBBB;
    --color_selection: #AAAAAA;
    --color_accent: #E5974D; /* #88d9ff; */
    --font_size: 1.2em;
}

body {
    background: var(--color_background);
    color: var(--color_foreground);
    font-family: Montserrat;
    margin: 0;
}

h1 {
    font-size: 1.5em;
    letter-spacing: 0.5rem;
    text-transform: uppercase;
    font-weight: 300;
    text-align: center;
}

a {
    color: var(--color_accent);
}

::selection {
    background: var(--color_selection);
  }

/*--------------------------------------------------------------------------------------------------------------------*/
/*#endregion*/


/*#region utility*/
/*--------------------------------------------------------------------------------------------------------------------*/

.aligned_left {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.aligned_center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.aligned_right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}


.active {
    color: var(--color_foreground);
}

.inactive {
    color: var(--color_foreground_inactive);
}


.cohesive {
    margin-bottom: -0.4em;
}

.italic {
    font-style: italic;
}

.bold {
    font-weight: bolder;
}

.space {
    height: 1px;
    margin: 0em;
    padding: 0em;
    border-top: 0.1em solid var(--color_foreground);
}

/*--------------------------------------------------------------------------------------------------------------------*/
/*#endregion*/


/*#region main*/
/*--------------------------------------------------------------------------------------------------------------------*/

html,
body {
    height: 99%; /* prevent overflow slider due to inaccuracies */
}

header {
    height: 5%;
    width: 100%;
}

.app {
    display: flex;
    height: 97%;
    width: 100%;
}

footer {
    float: right;
    height: 5%;
    width: 100%;
    padding-right: 1em;
    font-size: 0.8em;
}

#surface {
    width: 100%;
    height: 100%;
    margin: 0px;
}

#visualization {
    min-height: 13em; 
    max-height: 13em; 
}

.ui {
    height: 100%;
    min-width: 18em;
    max-width: 18em;
    width: 30%;
    margin: 1em;
    padding: 1em;
    background-color: var(--color_background_ui);
    overflow-y: auto;
}

.header-container {
    display: flex;
    justify-content: flex-end;
    align-items: start;
    width: 100%;
    padding-right: 1em; 
    padding-left: 1em;
}
/*#endregion*/


/*#region UI*/
/*--------------------------------------------------------------------------------------------------------------------*/

/* general */

.ui > div {
    display: flex;
    flex-flow: column;
    padding: 0.5em 2.0em 1.0em 2.0em;
}

.ui > div > h3 {
    font-size: 1.2em;
    font-weight: 800;
    color: #A4EFF1;
    display: flex;
    align-items: center;
    justify-content: left;
}

.ui > div > div> label {
    font-size: var(--font_size);
}

.ui > div > div> span {
    font-size: var(--font_size);
}

.ui > div > label:hover, .ui > div > h3:hover {
    color: var(--color_accent);
}

.ui > div > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.1em;
}

.app > div {
    display: flex;
    flex-direction: column;
    height: 96vh;
}

/*--------------------------------------------------------------------------------------------------------------------*/
/* slider */

.ui > div > input[type="range"] {
    accent-color: var(--color_accent);
    float: right;
    width: 100%;
    /* if we want full control over this: https://codepen.io/ShadowShahriar/pen/zYPPYrQ */
}

/*--------------------------------------------------------------------------------------------------------------------*/
/* dropdown */

.ui > div > select {
    width: 100%;
    height: 1.667em;
    background: var(--color_background);
    color: var(--color_foreground);
    border: 1px solid var(--color_foreground);
    border-radius: 0.2em;
    border-color: var(--color_foreground_inactive);
    font-size: var(--font_size);
    transition: 0.25s;
}

.ui > div > select:hover {
    border-color: var(--color_foreground);
}

.ui > div > select > option {
    text-align: center;
    font-size: var(--font_size);
    /* hover color seems really hard to change since this elements are rendered by the OS. webdev is such a shitshow .. */
}

/*--------------------------------------------------------------------------------------------------------------------*/
/* checkbox */

.ui > div > input[type="checkbox"] {
    appearance: none;
    float: right;
    width: 1.2em;
    height: 1.2em;
    border-radius: 1em;
    border: 0.1em solid var(--color_foreground_inactive);
    background-color: var(--color_background);
    content: "";
    margin-left: 1em;
}

.ui > div > input[type="checkbox"]:hover {
    border-color: var(--color_foreground);
}

.ui > div > input[type="checkbox"]:checked {
    box-shadow: inset 0 0 0 0.25em var(--color_background);
    background-color: var(--color_accent);
}

/*--------------------------------------------------------------------------------------------------------------------*/
/* button */

.ui > div > input[type="button"] {
    width: 100%;
    border: 1px solid var(--color_foreground_inactive);
    border-radius: 0.2em;
    padding: 0.2em;
    background: var(--color_background);
    color: var(--color_foreground);
    transition: 0.25s;
    font-size: 1.2em;
    margin: auto;
    font-size: var(--font_size);
}

.ui > div > input[type="button"]:hover {
    background: var(--color_secondary);
    color: var(--color_accent);
    border: 1px solid var(--color_foreground);
    cursor: pointer;
}

/*--------------------------------------------------------------------------------------------------------------------*/
/* color picker */

.ui > div > div > input[type="color"] {
	appearance: none;
    border-color: var(--color_foreground);
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 0px;
    border-right-width: 0px;
}
.ui > div > div > input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0;
}
.ui > div > div > input[type="color"]::-webkit-color-swatch {
	border: none;
}

/*--------------------------------------------------------------------------------------------------------------------*/


/*#endregion*/